@charset "UTF-8";

html, body {
  background: #2e282a;
  height: 100%;
}

main {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  margin: auto;
  min-width: 300px;
}

h1 {
  font: 10vw "Bukhari Script", sans-serif;
  text-align: center;
  margin-bottom: 4vw;
  line-height: 1;
  font-feature-settings: "ss02";
  color: #cd5334;
  text-shadow: 2px 2px #171616;
}

address {
  text-align: left;
  font: 16px "Cabin", sans-serif;
  color: #544f50;
}

address > * {
  border-bottom: 1px solid #171616;
}

address a {
  font-size: 1.2em;
  display: block;
  color: #cd5334;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
}

address a:hover {
  background-color: #171616;
}

address a i {
  float: left;
}

.cv {
  display: flex;
}

.cv-view {
  flex-grow: 1;
  border-right: 1px solid #171616;
}
