@charset "UTF-8";

html, body {
  height: 100%;
  background: #2e282a;
}

body {
  margin: 0;
}

.swatches {
  font-family: "Bukhari Script", sans-serif;
  font-feature-settings: "swsh";
}

/*** Landing page styles */

.landing {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  margin: auto;
}

.landing h1 {
  font: 10vw "Bukhari Script", sans-serif;
  text-align: center;
  margin-bottom: 4vw;
  line-height: 1;
  font-feature-settings: "ss02";
  color: #cd5334;
  text-shadow: 2px 2px #171616;
}

.landing nav {
  text-align: left;
  font: 15px Cabin, CabinFallback, sans-serif;
  color: #544f50;
}

.landing nav a {
  font-size: 1.2em;
  display: block;
  color: #cd5334;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid #171616;
}

.landing nav a:hover {
  background-color: #171616;
}

.landing nav i {
  color: #cd5334;
}

.landing nav a i {
  float: left;
}
