
{% macro ability_field(name, values) %}
<label for="ability-{{ name.split()|join }}">{{ name|title }}</label>
<input type="number"
       value="{{ values["value"] }}"
       min="0"
       name="ability-{{ name }}"
       id="ability-{{ name }}"
       {% if name == "languages" %}
         data-languages="{{ values["languages"]|tojson }}"
         onchange="populateLanguages()"
       {% endif %}
       />

{% if name == "languages" %}
  <ul id="ability-languages-list" >
    {% for i in range(values["value"]) %}
    <li><input type="text"
           name="ability-language-{{ i }}"
           aria-label="Language {{ i }}"
           value="{{ values["languages"][i] if i < len(values["languages"]) else '' }}" />
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% if name == "district knowledges" %}
  <ul id="ability-districts-list">
    {% for district, value in values["districts"]|dictsort %}
    <li>
      <label for="ability-district-{{ district.split()|join }}">
        {{ district|title }}
      </label>
      <input type="number"
             name="ability-district-{{ district.split()|join }}-value"
             value="{{ value }}" />
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% endmacro %}
  
{% macro ability_fields(title, abilities) %}
<fieldset>
  <legend>{{ title }}</legend>
  <ol>
    {% for ability, values in abilities|dictsort %}
    <li>{{ ability_field(ability, values) }}</li>
    {% endfor %}
  </ol>
</fieldset>
{% endmacro %}
