<!DOCTYPE html>
{% block head %}
  <meta charset="utf-8" />
  <title>Kelly Stewart</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,700" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font/bukhari-script.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font/cabin.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
{% endblock %}

<header>
  {% block header %}{% endblock %}
</header>

<main>
  <!-- Flashed Messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</main>

