{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}" />
{% endblock %}

{% block header %}
  <h1>Kelly Stewart</h1>

  <address>
    <a href="mailto:stewart.g.kelly@gmail.com"><span class="fas fa-envelope fa-fw"></span>stewart.g.kelly@gmail.com</a>
    <a href="tel:+61459767675"><span class="fas fa-phone fa-fw"></span>0459 767 675</a>
    <a href="http://github.com/miscoined"><span class="fab fa-github fa-fw"></span>@miscoined</a>
    <a href="http://miscoined.me"><span class="fas fa-globe fa-fw"></span>miscoined.me</a>
  </address>

  <p class="job"><span class="fas fa-briefcase fa-fw"></span>STEP intern at <strong>Google</strong> and <strong>Diversity Representative Executive</strong> of <strong>Sydney University IT Society</strong></p>
  <p class="uni"><span class="fas fa-university fa-fw"></span>Third year in <strong>Bachelor of Computer Science</strong> at the <strong>University of Sydney</strong></p>
  <p class="degree"><span class="fas fa-graduation-cap fa-fw"></span>Cert III in <strong>Information and Digital Technologies</strong></p>
  <p class="skills"><span class="fas fa-code fa-fw"></span><strong>Python</strong>, HTML, CSS, Javascript, AngularJS, <strong>Java</strong>, SQL, Common Lisp, <strong>Emacs Lisp</strong>, Lua, C, C#, <strong>Git</strong>, LÖVE, Photoshop, Unity, Flask</p>
{% endblock %}

{% block content %}
  <section>

    <h2>Work History</h2>
    <div>
      <section>
        <h3>STEP Intern</h3>
        <p>Full time intern
        <p>Google
        <p>December 2017 - February 2018
        <ul>
          <li>12 week internship
          <li>Used AngularJS, Google AppEngine and webapp2
          <li>Refactored CSS into LESS and Python to comply to style guides
          <li>Worked on features that required efficient implementations
        </ul>
      </section>

      <section>
        <h3>Undergraduate Tutor</h3>
        <p>Casual
        <p>University of Sydney
        <p>2017
        <ul>
          <li>ENGG1805 Professional Engineering and IT
          <li>INFO1105 Data Structures
          <li>2 two-hour labs per week
          <li>Introduced students to data structures and big-O analysis
          <li>Helped students with Java assignments
          <li>Marked assignments and exams
        </ul>
      </section>

      <section>
        <h3>Competition Tutor</h3>
        <p>Casual
        <p>GrokLearning
        <p>March 2017
        <ul>
          <li>4 weeks of online tutoring for Web.Comp
          <li>High school aged students
          <li>Answered questions and helped students with HTML and CSS problems
        </ul>
      </section>

    </div>

  </section>

  <section class="camp">
    <h2>Volunteer History</h2>

    <div>
      <section>
        <h3>National Computer Science School Camp</h3>
        <p>2017-18 - tutor
        <ul>
          <li>Worked with a team of 6 tutors to manage a classroom of 17 students for 10 days for students years 10-12
          <li>Provided support with developing a web application with Tornado, including Python, SQL and web design, and developing a health-focused embedded project with the BBC Micro:Bit
        </ul>
      </section>

      <section>
        <h3>Girl's Programming Network</h3>
        <p>May 2017 - Stream coordinator
        <ul>
          <li>Tutored a classroom of year 5 - 8 students
          <li>Helped create content for workbooks and computerless computing games
          <li>Provided advice and support to students learning Python
        </ul>
      </section>

      <section>
        <h3>Sydney University IT Society</h3>
        <p>2017 Diversity Representative Executive
        <ul>
          <li>Helped organize a Diversity in Tech panel in collaboration with USU as part of Verge Festival
          <li>Helped with weekly events
          <li>Provided newsletter content for diversity-related tech events in Sydney
        </ul>
      </section>

    </div>

  </section>

  <section>
    <h2>Events</h2>

    <div>
      <section>
        <h3>Global Game Jam</h3>
        <p style="padding-left: 10px;">2017
        <ul>
          <li>Worked with a team of 7 to create a game in 48 hours
          <li>Learned Unity and C# on the spot during the game jam
          <li>Became main programmer halfway through the jam
          <li>Received an Honorable Mention jammy award
        </ul>
      </section>

      <section>
        <h3>UniHack</h3>
        <p>2017
        <ul>
          <li>Worked with a team of 4 to create a software project over 24 hours
          <li>Used machine learning libraries to create recommendation software
          <li>Received awards for best teamwork and algorithms
        </ul>
      </section>

    </div>
  </section>
{% endblock %}
