legend, .ability {
  text-transform: capitalize;
}

.ability.general-investigative:after {
  content: '*';
}

input[type="checkbox"].validationElement:before {
  content: "";
  border: 1px solid firebrick;
}
