[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "==6.6"
flask = "==0.11.1"
gunicorn = "==19.6.0"
itsdangerous = "==0.24"
"jinja2" = "==2.8"
markupsafe = "==0.23"
werkzeug = "==0.11.11"
wtforms = "*"
pdfkit = "*"


[dev-packages]



[requires]

python_version = "3.6"
