@charset "UTF-8";

/*
 https://coolors.co/c97d60-544f50-cd5334-ffbcb5-f2e5d7
*/

 @page {
   size: A4;
 }

a {
  color: #cd5334;
}

body {
  font: 12px "Open Sans";
  background: #f4e9de;
  display: flex;
}

h1, h2 {
  font-family: "Bukhari Script";
  font-weight: normal;
}

h3 {
  color: #cd5334;
  font-weight: normal;
  margin: 0;
}

.main-header {
  background: #2e282a;
  color: #cd5334;
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 216px;
  font-size: 14px;
}

.main-header h1 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 75px;
  font-feature-settings: "ss02";
}

.main-header address {
  font-style: normal;
  margin-bottom: 50px;
}

.main-header address a, .main-header p {
  padding-left: 40px;
  position: relative;
}

.main-header address a {
  display: block;
  text-decoration: none;
}

.main-header address a i {
  transform: translateY(25%);
}

.main-header address a i, .main-header p i {
  position: absolute;
  left: 10px;
}

.main-header .details {
  display: block;
  font-size: 12px;
}

.main-header p {
  color: #544f50;
  text-align: justify;
}

.main-header p i {
  top: 50%;
  transform: translateY(-50%);
  color: #cd5334;
}

.main-header strong {
  color: #cd5334;
  font-weight: normal;
}

.main-header .interests {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.main-header .interests li {
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: 60px;
  color: #544f50;
}

.main-header .interests li:before {
  display: block;
  color: #cd5334;
}

main {
  padding: 10px 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main p {
  margin: 0;
}

main .details {
  font-size: 10px;
}

main > section {
  margin: 5px 0;
}
