<li>
  <input type="checkbox"
         data-bind="checked: proficientChecked,
               disable: proficientRequired() || !proficientOption()" />

  <label class="ability" data-bind="text: name,
                css: {'general-investigative': category.includes('general') && investigative,
                'proficient': proficientRequired},
                attr: {for: $data.jsonName}"></label>

  <!-- ko if: name != 'credit rating' -->
  <input
    data-bind="value: value,
               attr: {name: jsonName,
               id: jsonName}"
    type="number"
    min="0" />
  <!-- /ko -->

  <!-- ko if: name == 'credit rating' -->
  <input
    data-bind="value: valueConstrained, attr: {
               name: jsonName,
               id: jsonName,
               min: $root.occupation().credit.min,
               max: $root.occupation().credit.max}"
    type="number" />
  <!-- /ko -->

  <!-- ko if: name == 'languages' -->
  <ul data-bind="foreach: languages()">
    <li>
      <input data-bind="value: name(),
                        attr: {name: $data.jsonName + '-' + $index}"
             type="text" />
    </li>
  </ul>
  <!-- /ko -->

  <!-- ko if: name == 'district knowledges' -->
  <ul data-bind="foreach: districts">
    <li>
      <label data-bind="text: name"></label>
      <input data-bind="value: value, attr: {
                        name: $data.jsonName + '-' + name,
                        id: $data.jsonName + '-' + name,
                        }"
             type="number"
             min="0" />
    </li>
  </ul>
  <!-- /ko -->

</li>
