{% from "toc/_form.html" import dynamic_fields %}

{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toc.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery-3.3.1-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout-3.4.2-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout.mapping-2.4.1-min.js') }}"></script>
{% endblock %}

{% block content %}
  <h2>Trail of Cthlulu</h2>
  <form action="/toc" method="POST">
    <ol>
      <li>
        <label for="player">Player</label>
        <input type="text" id="player" data-bind="value: player" />
      </li>
      <li>
        <label for="name">Name</label>
        <input type="text" id="name" data-bind="value: name" />
      </li>
      <li>
        <label for="age">Age</label>
        <input type="number" id="age" data-bind="value: age" />
      </li>
      <li>
        <label for="name">Nationality</label>
        <input type="text" id="nationality" data-bind="value: nationality" />
      </li>
      <li>
        <select
          name="occupation"
          data-bind="options: occupations,
                optionsText: 'name',
                value: occupation"></select>
      </li>
    </ol>

    <fieldset>
      <legend>Stats</legend>
      <ol>
        <li>
          <label for="health">Health</label>
          <input type="number" id="health" min="1" max="12" data-bind="value: health" />
        </li>
        <li>
          <label for="stability">Stability</label>
          <input type="number" id="stability" min="1" max="12"
                 data-bind="value: stability" />
        </li>
        <li>
          <label for="sanity">Sanity</label>
          <input type="number" id="sanity" min="4" max="10"
                 data-bind="value: sanity" />
        </li>
        <li>
          <label for="hitthreshold">Hit Threshold</label>
          <input type="number" id="hitthreshold" readonly />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Abilities</legend>

      <fieldset>
        <legend>Investigative</legend>
        <!-- ko foreach: investigativeCategories -->
        <fieldset>
          <legend data-bind="text: name"></legend>
          <ul data-bind="template: {name: 'ability-template', foreach: abilities}"></ul>
        </fieldset>
        <!-- /ko -->
      </fieldset>

      <fieldset>
        <legend>General</legend>
        <ul data-bind="template: {name: 'ability-template', foreach: general()}"></ul>
      </fieldset>

    </fieldset>

    <fieldset>
      <legend>Character</legend>

      <ol>
        <li>
          <label for="name">Drive</label>
          <input type="text" id="drive" data-bind="value: drive" />
        </li>
        <li>
          <label for="suspicion">Suspicion</label>
          <input type="number" data-bind="value: suspicion" />
        </li>
      </ol>

      {{ dynamic_fields("sourcesOfStability", "Sources of Stability", "Source of Stability") }}
      {{ dynamic_fields("pillarsOfSanity", "Pillars Of Sanity", "Pillar Of Sanity") }}
      {{ dynamic_fields("contacts", "Contacts", "Contact") }}

    </fieldset>

    {{ dynamic_fields("inventory", "Inventory", "Inventory Item") }}

    <input type="submit" value="Submit" data-bind="click: submit" />

  </form>

  <script type="text/html" id="ability-template">
    {% include "toc/_ability_template.html" %}
  </script>

  <script>
   function Ability(ability) {
     var self = this;

     var mapping = {
       "copy": ["name", "investigative", "category"],
       "languages": {
         create: function(options) {
           return {name: ko.observable(options.data)};
         }
       },
       "district knowledges": {
         create: function(options) {
           return {name: options.data.name, value: ko.observable(options.data.value)};
         }
       }
     }

     ko.mapping.fromJS(ability, mapping, self);

     self.jsonName = 'ability-' + self.name.replace(/\s+/g, '');

     self.proficientRequired = ko.pureComputed(function() {
       return character.occupation().abilities.required.indexOf(self.name) != -1;
     });

     self.proficientOption = ko.pureComputed(function() {
       return character.occupation().abilities.choices.some(choice =>
         (choice.criteria.length == 0 || choice.criteria.some(cat => self.category.includes(cat))));
     });

     self.proficientChecked = ko.observable(false);

     if (self.name == 'languages') {
       self.value.subscribe(function(value) {
         var diff = Math.abs(value - self.languages().length);
         if (value > self.languages().length) {
           var newLanguages = ko.utils.arrayMap(new Array(diff), function(i) {
             return {name: ko.observable()};
           });
           self.languages.push.apply(self.languages, newLanguages);
         } else if (value < self.languages().length) {
           self.languages.splice(self.languages().length - diff, diff);
         }
       });
     }
     console.log("finished");
   }

   function Character() {
     var self = this;

     var mapping = {
       'occupation': {
         create: function(options) {
           return ko.observable({name: options.data.name,
                                 credit: options.data.credit,
                                 abilities: options.data.abilities})
         }
       },
       'investigative': {
         create: function(options) {
           options.data.category = ["investigative", options.data.category];
           return new Ability(options.data);
         }
       },
       'general': {
         create: function(options) {
           options.data.category = ["general"];
           return new Ability(options.data);
         }
       }
     };

     self.occupations = {{ occupations|tojson }};

     var character = {{ character|tojson }};
     ko.mapping.fromJS(character, mapping, this);

     self.occupation.subscribe(function(occupation) {
       console.log(occupation);
       self.investigative().forEach(function(ability) {
         ability.proficientChecked(occupation.abilities.required.includes(ability.name));
       });
       self.general().forEach(function(ability) {
         ability.proficientChecked(occupation.abilities.required.includes(ability.name));
       });
     });

     self.constrainCredit = function(value) {
       return Math.min(Math.max(value(), self.occupation().credit.min),
                       self.occupation().credit.max);
     };

     var categories = {{ investigative_categories|tojson }};
     self.investigativeCategories = categories.map(
       cat => ({name: cat, abilities: self.investigative().filter(a => a.category[1] == cat)}));

     self.submit = function() {
       $.ajax ({
         url: "/toc/character",
         type: "POST",
         data: ko.mapping.toJSON(self),
         contentType: "application/json",
         success: function(result) {
           alert("Success");
         },
         error: function(result) {
           alert(result.responseText);
         }
       });
     };


   };

   var character = new Character();
   ko.applyBindings(character);
  </script>
{% endblock %}
