{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/toc.css') }}" />
<script src="{{ url_for('static', filename='js/knockout-3.4.2-min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Trail of Cthlulu</h2>
<form>
  <ol>
    <li>
      <label for="player">Player</label>
      <input type="text" id="player" />
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" id="name" />
    </li>
    <li>
      <label for="age">Age</label>
      <input type="number" id="age" />
    </li>
    <li>
      <label for="name">Nationality</label>
      <input type="text" id="nationality" />
    </li>
    <li>
      <label for="occupation">Occupation</label>
      <select id="occupation" data-occupations="{{ occupations|tojson }}">
        {% for occupation in occupations %}
        <option value="{{ occupation }}">{{ occupation|title }}</option>
        {% endfor %}
      </select>
    </li>
    <li>
      <label for="name">Drive</label>
      <input type="text" id="drive" />
    </li>
  </ol>

  <fieldset>
    <legend>Abilities</legend>

    <fieldset>
      <legend>Investigative</legend>
      <!-- ko foreach: investigativeCategories -->
      <fieldset>
        <legend data-bind="text: $data"></legend>
        <ul data-bind="foreach: $root.forCategory($data)">
          <li>
            <label data-bind="text: value().name, attr: {for: $root.abilityId(value().name)}"></label>
            <input
              data-bind="attr: {
                         value: value().value,
                         name: $root.abilityId(value().name),
                         id: $root.abilityId(value().name)
                         }"
              type="number"
              min="0" />
          </li>
        </ul>
      </fieldset>
    <!-- /ko -->
    </fieldset>

    <fieldset>
      <legend>General</legend>
      <ul data-bind="foreach: general">
        <li>
          <label data-bind="text: value().name + (value().investigative ? '*' : ''), attr: {for: $root.abilityId(value().name)}"></label>
          <input
            data-bind="attr: {
                       value: value().value,
                       name: $root.abilityId(value().name),
                       id: $root.abilityId(value().name)
                       }"
            type="number"
            min="0" />
        </li>
      </ul>
    </fieldset>

  </fieldset>
</form>

<script>
 function CharactersViewModel() {
   var self = this;

   self.investigativeCategories = {{ investigative_categories|tojson }};

   var investigativeAbilities = {{ investigative|tojson }};
   self.investigative = investigativeAbilities.map(function(ability) {
     return {value: ko.observable(ability)};
   });

   var generalAbilities = {{ general|tojson }};
   self.general = generalAbilities.map(function(ability) {
     return {value: ko.observable(ability)};
   });

   self.forCategory = function(category) {
     return ko.utils.arrayFilter(self.investigative, function(ability) {
       return (ability.value)().category == category;
     });
   };

   self.abilityId = function(ability) {
     return "ability-" + ability.replace(/\s/g, "");
   };
 }

 ko.applyBindings(new CharactersViewModel());
</script>
{% endblock %}
