{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/toc.css') }}" />
<script src="{{ url_for('static', filename='js/knockout-3.4.2-min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Trail of Cthlulu</h2>
<form>
  <ol>
    <li>
      <label for="player">Player</label>
      <input type="text" id="player" />
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" id="name" />
    </li>
    <li>
      <label for="age">Age</label>
      <input type="number" id="age" />
    </li>
    <li>
      <label for="name">Nationality</label>
      <input type="text" id="nationality" />
    </li>
    <li>
      <select
        name="occupation"
        data-bind="value: occupation,
                   options: occupations,
                   optionsCaption: 'Occupation',
                   optionsText: 'name'"></select>
    </li>
    <li>
      <label for="name">Drive</label>
      <input type="text" id="drive" />
    </li>
  </ol>

  <fieldset>
    <legend>Abilities</legend>

    <fieldset>
      <legend>Investigative</legend>
      <!-- ko foreach: investigativeCategories -->
      <fieldset>
        <legend data-bind="text: $data"></legend>
        <ul data-bind="template: {name: 'ability-template', foreach: $root.forCategory($data)}"></ul>
      </fieldset>
    <!-- /ko -->
    </fieldset>

    <fieldset>
      <legend>General</legend>
      <ul data-bind="template: {name: 'ability-template', foreach: general}"></ul>
    </fieldset>

  </fieldset>
</form>

<script type="text/html" id="ability-template">
  <li>
    <label data-bind="text: value().name,
                      css: {'general-investigative': value().investigative,
                            'ability-proficiency': $root.occupation().hasAbility(value().name)},
                      attr: {for: 'ability-' + value().jsonName}"></label>

    <!-- ko if: value().name != 'credit rating' -->
    <input
      data-bind="value: value().value,
                 attr: {name: 'ability-' + value().jsonName,
                 id: 'ability-' + value().jsonName}"
      type="number"
      min="0" />
    <!-- /ko -->

    <!-- ko if: value().name == 'credit rating' -->
    <input
      data-bind="value: $root.occupation().constrainCredit(value().value), attr: {
                 name: 'ability-' + value().jsonName,
                 id: 'ability-' + value().jsonName,
                 min: $root.occupation().credit.min,
                 max: $root.occupation().credit.max}"
      type="number" />
    <!-- /ko -->

    <!-- ko if: value().name == 'languages' -->
    <ul data-bind="foreach: $root.languages()">
      <li>
        <input data-bind="value: value(),
                          attr: {name: 'ability-languages-' + $index}"
               type="text" />
      </li>
    </ul>
    <!-- /ko -->

    <!-- ko if: value().name == 'district knowledges' -->
    <ul data-bind="foreach: value().districts">
      <li>
        <label data-bind="text: name"></label>
        <input data-bind="value: name, attr: {
                          name: 'ability-districtknowledges-'+name,
                          id: 'ability-districtknowledges-'+name
                          }"
               type="number"
               min="0" />
      </li>
    </ul>
    <!-- /ko -->

  </li>
</script>

<script>

 var Occupation = function(name, credit, abilities) {
   this.name = name;
   this.credit = credit;
   this.abilities = abilities;

   this.hasAbility = function(ability) {
     return this.abilities.includes(ability);
   };

   this.constrainCredit = function(value) {
     return Math.min(Math.max(value, this.credit.min), this.credit.max);
   }
 };

 function CharactersViewModel() {
   var self = this;

   self.updateLanguages = function(value) {
     var diff = Math.abs(value - self.languages().length);
     if (value > self.languages().length) {
       for (var i = 0; i < diff; i++) {
         self.languages.push({value: ko.observable});
       }
     } else if (value < self.languages().length) {
       for (var i = 0; i < diff; i++) {
         self.languages.pop()
       }
     }
   };

   self.investigativeCategories = {{ investigative_categories|tojson }};

   var investigativeAbilities = {{ investigative|tojson }};
   self.investigative = investigativeAbilities.map(function(ability) {

     if (ability.name == 'languages') {

       self.languages = ko.observableArray(ability.languages.map(function(language) {
         return {value: ko.observable(language)};
       }));
       ability.value = ko.observable(ability.value);
       ability.value.subscribe(self.updateLanguages);

     } else if (ability.name == 'district knowledges') {

       ability.districts = ability.districts.map(function(district) {
         return {name: district.name, value: ko.observable(district.value)};
       });

     }

     return {value: ko.observable(ability)};
   });

   var generalAbilities = {{ general|tojson }};
   self.general = generalAbilities.map(function(ability) {
     return {value: ko.observable(ability)};
   });

   self.forCategory = function(category) {
     return self.investigative.filter(function(ability) {
       return (ability.value)().category == category;
     });
   };

   var occupations = {{ occupations|tojson }};
   self.occupations = occupations.map(function(occ) {
     return new Occupation(occ["name"], occ["credit rating"], occ["abilities"]);
   });

   self.occupation = ko.observable(self.occupations[0]);
 };

 ko.applyBindings(new CharactersViewModel());
</script>
{% endblock %}
