<li>
  <input type="checkbox"
         data-bind="checked: ability.proficient,
               disable: ability.proficientRequired() || !ability.proficientOption()" />

  <label class="ability" data-bind="text: ability.name,
                css: {'general-investigative': ability.investigative},
                attr: {for: ability.jsonName}"></label>

  <!-- ko if: ability.name != 'languages' -->
  <input type="number"
         data-bind="value: ability.value,
                            attr: {id: ability.jsonName,
                                    min: ability.min ? ability.min : 0,
                                    max: ability.max}" />

  <input type="number"
         min="0"
         data-bind="value: ability.temp,
                            attr: {id: ability.jsonName + '-temp',
                                    max: ability.value}" />
  <!-- /ko -->

  <!-- ko if: ability.name == 'languages' -->

  <!-- ko if: occupation().languages && occupation().languages.length > 0 -->
  <span>Proficiency</span>
  <select data-bind="options: occupation().languages,
                     value: ability.proficientLanguage"></select>
  <!-- /ko -->

  <button type="button" data-bind="click: ability.addLanguage">+</button>
  <ul data-bind="foreach: ability.languages()">
    <li>
      <input type="checkbox"
             data-bind="checked: $parent.ability.isProficient(name())"
             disabled />
      <input type="text" data-bind="attr: {'aria-label': 'Language ' + $index()}, value: name" />
      <button type="button"
              data-bind="click: function(data, event) {$parent.ability.removeLanguage($index())}">
        -
      </button>
    </li>
  </ul>
  <!-- /ko -->

  <!-- ko if: ability.name == 'district knowledges' -->
  <ul data-bind="foreach: ability.districts">
    <li>
      <label data-bind="text: name"></label>
      <input data-bind="value: value, attr: {
                        id: $parent.ability.jsonName + '-' + name,
                        max: parseFloat($parent.ability.value())
                             - $parent.districtSum() + parseFloat(value())
                        }"
             type="number"
             min="0" />
    </li>
  </ul>
  <!-- /ko -->

</li>
