<li>
  <input type="checkbox"
         data-bind="checked: ability.proficientChecked,
               disable: ability.proficientRequired() || !ability.proficientOption()" />

  <label class="ability" data-bind="text: ability.name,
                css: {'general-investigative': ability.investigative},
                attr: {for: ability.jsonName}"></label>

  <input type="number"
         data-bind="value: ability.value,
                            attr: {name: ability.jsonName,
                                    id: ability.jsonName,
                                    min: ability.min ? ability.min : 0,
                                    max: ability.max}" />

  <input type="number"
         min="0"
         data-bind="value: ability.temp,
                            attr: {name: ability.jsonName + '-temp',
                                    id: ability.jsonName + '-temp',
                                    max: ability.value}" />

  <!-- ko if: ability.name == 'languages' -->
  <ul data-bind="foreach: ability.languages()">
    <li>
      <input data-bind="value: name(),
                        attr: {name: $parent.ability.jsonName + '-' + $index}"
             type="text" />
    </li>
  </ul>
  <!-- /ko -->

  <!-- ko if: ability.name == 'district knowledges' -->
  <ul data-bind="foreach: ability.districts">
    <li>
      <label data-bind="text: name"></label>
      <input data-bind="value: value, attr: {
                        name: $parent.ability.jsonName + '-' + name,
                        id: $parent.ability.jsonName + '-' + name,
                        max: $parent.ability.districts()
                                        .reduce((acc, d) => acc - parseInt(d.value()),
                                                  parseInt($parent.ability.value())
                                                  + parseInt(value()))
                        }"
             type="number"
             min="0" />
    </li>
  </ul>
  <!-- /ko -->

</li>
