<li>
  <input type="checkbox"
         data-bind="checked: ability.proficientChecked,
               disable: ability.proficientRequired() || !ability.proficientOption()" />

  <label class="ability" data-bind="text: ability.name,
                css: {'general-investigative': ability.investigative},
                attr: {for: ability.jsonName}"></label>

  <input type="number"
         data-bind="value: ability.value,
                            attr: {name: ability.jsonName,
                                    id: ability.jsonName,
                                    min: ability.min ? ability.min : 0,
                                    max: ability.max}" />

  <!-- ko if: name == 'languages' -->
  <ul data-bind="foreach: ability.languages()">
    <li>
      <input data-bind="value: ability.name(),
                        attr: {name: ability.jsonName + '-' + $index}"
             type="text" />
    </li>
  </ul>
  <!-- /ko -->

  <!-- ko if: name == 'district knowledges' -->
  <ul data-bind="foreach: ability.districts">
    <li>
      <label data-bind="text: ability.name"></label>
      <input data-bind="value: ability.value, attr: {
                        name: ability.jsonName + '-' + name,
                        id: ability.jsonName + '-' + name,
                        }"
             type="number"
             min="0" />
    </li>
  </ul>
  <!-- /ko -->

</li>
