@charset "UTF-8";

 @font-face {
   font-family: 'CabinFallback';
   src: url('Cabin-Regular.otf');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'CabinFallback';
   src: url('Cabin-Bold.otf');
   font-weight: bold;
   font-style: normal;
 }

