<!DOCTYPE html>
{% block head %}
  <meta charset="utf-8" />
  <title>Kelly Stewart</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=OpenSans:400" />
  <link rel="stylesheet"
        href="{{ url_for('landing.static', filename='font/bukhari-script.css') }}" />
  <link rel="stylesheet"
        href="{{ url_for('landing.static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
{% endblock %}

<header class="main-header">
  {% block header %}{% endblock %}
</header>

<main>
  <!-- Flashed Messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</main>

