{% extends "base-landing.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet"
        href="{{ url_for('landing.static', filename='css/landing.css') }}" />
{% endblock %}

{% block content %}
  <h1>Kelly Stewar<span class="swatches">t</span></h1>

  <address>
    <a href="mailto:stewart.g.kelly@gmail.com">
      <i class="fas fa-envelope"></i> stewart.g.kelly@gmail.com
    </a>
    <a href="https://www.github.com/miscoined">
      <i class="fab fa-github"></i> @miscoined
    </a>
    <div class="cv">
      <a class="cv-view" href="/cv">CV</a>
      <a class="cv-download" href="{{ url_for('landing.static', filename='doc/cv.pdf') }}">
        <i class="fas fa-download"></i>
      </a>
    </div>
  </address>
{% endblock %}
