{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet"
        href="{{ url_for('landing.static', filename='css/landing.css') }}" />
{% endblock %}

{% block content %}
  <h1>Kelly Stewar<span class="swatches">t</span></h1>

  <address>
    <a href="mailto:stewart.g.kelly@gmail.com">
      <span class="fas fa-envelope"></span> stewart.g.kelly@gmail.com
    </a>
    <a href="https://www.github.com/miscoined">
      <span class="fab fa-github"></span> @miscoined
    </a>
    <a href="{{ url_for('landing.static', filename='doc/cv.pdf') }}">
      <span class="fas fa-download"></span> CV
    </a>
  </address>
{% endblock %}
