{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('toc.static', filename='css/toc.css') }}" />

  <script src="{{ url_for('toc.static', filename='js/node_modules/requirejs/require.js') }}"></script>

  <script>
    require.config({
      baseUrl: "{{ url_for('toc.static', filename='js') }}",
      paths: {
        text: "node_modules/requirejs-text/text",
        jquery: "node_modules/jquery/dist/jquery.min",
        knockout: "node_modules/knockout/build/output/knockout-latest",
        komapping: "node_modules/knockout-mapping/dist/knockout.mapping.min",
        kovalidation: "node_modules/knockout.validation/dist/knockout.validation.min"
      },
      shim: {
        komapping: {
          deps: ["knockout"],
          exports: "komapping"
        },
        kovalidation: {
          deps: ["knockout"],
          exports: "kovalidation"
        }
      }
    });

   require(
     ["knockout", "kovalidation", "ViewModel"],
     function(ko, kovalidation, ViewModel) {
       ko.validation = kovalidation;
       ko.validation.init({
         insertMessages: false,
         decorateInputElement: true
       });

       ko.components.register("list-input", {
         viewModel: { require: "components/list-input" },
         template: { require: "text!components/list-input.html" }
       });

       ko.components.register("ability", {
         viewModel: { require: "components/ability" },
         template: { require: "text!components/ability.html" }
       });

       ko.components.register("character", {
         viewModel: { require: "components/character" },
         template: { require: "text!components/character.html" }
       });

       ko.applyBindings(new ViewModel({{ character_name | tojson }}));
     });
  </script>
{% endblock %}

{% block content %}
  <h2>Trail of Cthlulu</h2>
  <character params="character: character, occupations: occupations"></character>

{% endblock %}
